body
{
background-image: url(https://preview.redd.it/8jp31jhqyigz.png?width=1080&crop=smart&auto=webp&s=4644ab4219113a82bc48b70178b58129390e466f);
background-size: 1370px 690px;
background-repeat: no-repeat;
}
