body
{
background-image: url(https://hoi4.paradoxwikis.com/images/thumb/0/0d/Default_map_nogui_1.12.jpg/1920px-Default_map_nogui_1.12.jpg);
background-size: 1370px 690px;
background-repeat: no-repeat;
}

h1
{
color: white;
text-align: center;
}

ubi
{
position: absolute;
top: 5%;
left: 40%;
transform: translate(-50%,-50%);
}