body
{
background-image: url(https://hoi4.paradoxwikis.com/images/thumb/0/0d/Default_map_nogui_1.12.jpg/1920px-Default_map_nogui_1.12.jpg);
background-size: 1370px 690px;
background-repeat: no-repeat;
}

h1
{
color: white;
text-align: center;
}

ubi
{
position: absolute;
top: 7%;
left: 50%;
transform: translate(-50%,-50%);
z-index: -1;
}

ubix
{
position: relative;
z-index: 1;
}


ubip
{
display: inline;
position: relative;
top: 100%;
left: 10%;
transform: translate(-50%,-50%);
z-index: 1;
}

ubipi
{
display: inline;
position: relative;
top: 100%;
left: 37%;
transform: translate(-50%,-50%);
z-index: 1;
}

ubil
{
position: absolute;
top: 58.5%;
left: 48%;
transform: translate(-50%,-50%);
z-index: -1;
}

ubilo
{
position: absolute;
top: 58.5%;
left: 15%;
transform: translate(-50%,-50%);
z-index: -1;
}

ubilio
{
position: absolute;
top: 58.5%;
left: 80%;
transform: translate(-50%,-50%);
z-index: -1;
}

ubipio
{
display: inline;
position: relative;
top: 100%;
left: 62%;
transform: translate(-50%,-50%);
z-index: 1;
}

ubilio
{
position: absolute;
top: 58.5%;
left: 80%;
transform: translate(-50%,-50%);
z-index: -1;
}

ubiliop
{
position: absolute;
top: 4%;
left: 94%;
transform: translate(-50%,-50%);
z-index: -1;
}
