body
{
background-image: url(https://wallpapercave.com/wp/wp4615596.jpg);
background-size: 1370px 690px;
background-repeat: no-repeat;
}

.banner {
    position: relative;
    width: 50%;
    height: 50%;
    top: 0%;
    left: 25%;
  }

  summary {
    cursor: pointer; /* Indica que es un elemento clicable */
    padding: 0.5em 0;
    font-weight: bold; /* Para destacar la pregunta */
  }
  
  details {
    margin-bottom: 1em; /* Espacio entre preguntas */
  }
  
  details p {
    padding: 0.5em 1em; /* Un poco de sangría para la respuesta */
  }
  
